* {
  box-sizing: border-box;
}
.bg-dark {
  background-color: #141414;
}
.navbar .navbar-brand img {
  width: 100px;
}
.navbar .navbar-nav img {
  width: 50px;
}
main {
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  overflow-x: hidden;
}

#genre .dropdown-toggle, #genre .dropdown-menu {
  border-radius: 0px;
}

.movie-row img {
  width: 100%;
  position: relative;
}

.movie-row img:last-of-type~.movie-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.516);
  position: absolute;
  top: 0
}

.movie-card {
  transition: 0.2s;
}

.movie-card:hover {
  transform: scale(1.3);
  z-index: 2;
}

.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:100;
}

.footer-clean .item.social {
  text-align:left;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:200%;
  width:400px;
  height:400px;
  line-height:70px;
  text-align: center;
  margin: right 30px;
  margin-top:22px;
  color:white
  padding:0;
}



@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:100px;
  }
}

.footer-clean .copyright {
  margin-top:40px;
  margin-bottom:25px;
  font-size:13px;
  opacity:0.6;
  position: left;
  margin-left: -900px;
  line-height: 100%;
}

.box{
  width:40%;
  position:left; 
  display: flexbox;
  text-align: left;
  padding:10px;
  border:0.5px solid white;
  font-size:10px;
  color:#ffffff;
  height: auto;
  line-height: 100%;
  margin-left: -900px;
  margin-top: 40px;
}